header {
    border-bottom: 1px solid #ccc;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
        padding: 40px 0;

        h1{
            font-family: "Inter", sans-serif;
        }
        nav {
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 40px;

                li {
                    list-style: none;

                    a {
                        color: black;
                        font-family: 'Courier New', Courier, monospace;
                        text-decoration: none;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}